h1 {text-align: center;
color: maroon;
font-family: arial;
font-weight: bold;
   }
ul {list-style-type: none;
}
body {background-color: pink;
border: 5px solid gray;
border-radius: 5px;
     }
li {display: inline;
padding: 10px
   }
