h1 {text-align:center;
   color:coral;
   font-family:arial;
   font-weight:bold;
   }
ul{list-style-type:none;
  }
body {background-color:pink;
     border:4px solid orange;
     border-radius:10px;
     }
li{display:inline;
  padding:35px;}
